
@{
    ViewBag.Title = "TestChart";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/JsModule/mdb.min.js?his-version-1.0"></script>
<script src="~/Areas/Online/JsModule/testChartJs.js?his-version-1.0"></script>
<div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>

