
@{
    ViewBag.Title = "justdial";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@*<h2>justdial</h2>*@
<script src="~/Areas/Pharmacy/JsModule/TPA.js"></script>
<button class="btn btn-success">click</button>